@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:wght@400;700&family=Ubuntu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:wght@400;700&family=Ubuntu:wght@300;400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
    width: 100%;

}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15),
            rgba(0, 0, 0, 0.15)), url(imgs/builld.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    flex-wrap: wrap;

}

.hero h3 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: 'courier New';
    margin-bottom: 20px;
}

.hero h1 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 72px;
    font-weight: 400;
}

.hero a {
    background-color: #ffce3e;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.hero a:hover {
    color: black;
}

.boxs {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    bottom: 100px;
}

.box {
    width: 360px;
    height: 376px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ebebeb;
    padding: 0 10px;
    font-size: 14px;
    line-height: 20px;
    flex-wrap: wrap;
}

.box img,
h2,
p {
    margin-bottom: 20px;
}

.box a {
    color: #ffbf00;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: "Oswald", sans-serif;

}

.box a:hover {
    text-decoration: underline;
    color: #c99702;
}

.us {
    width: 40%;
    margin: 0 50px;
}

.count2 h3 {
    margin-bottom: 20px;
}

.about .us h2 {
    font-family: "Oswald", sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 20px 45px;
}

.about .us ul li {
    display: flex;
    gap: 40px;

}

.about .us ul li img {
    display: block;
    width: 60px;
    height: 60px;
}

.about {
    display: flex;

}

.imgs {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.imgs img {
    display: block;
    object-fit: cover;
    width: 300px;
    height: 600px;
}


.fotos {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 100px 0;
    position: relative;
}


.fotos {
    display: flex;
    justify-content: center;
}

.fotos img {
    display: flex;
    object-fit: cover;
    width: 33.33%;
    height: 400px;
}


.persons {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: -100px;
}

.person {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.person img {
    object-fit: cover;
    /* الصورة كتغطي الإطار كامل بلا ما تتشوه، وكتقصّ الأجزاء الزائدة */

    display: inline-block;
    /* العنصر كيتعامل بحال inline (فالسطر) ولكن يمكن تعيين العرض والارتفاع */

    vertical-align: middle;
    /* يوسّط الصورة عموديًا إذا كانت وسط عناصر أخرى inline (بحال نص) */

    overflow: hidden;
    /* يخفي أي جزء من الصورة كيتجاوز الإطار ديالها */

    object-position: 77.64% 50%;
    /* كيركّز عرض الصورة بنسبة 77.64% من اليسار، و50% من الأعلى */


    width: 167px;
    /* عرض الصورة 167 بيكسل */

    height: 169px;
    /* ارتفاع الصورة 169 بيكسل */

    border-radius: 50%;
    /* يجعل الصورة دائرية (circle) إذا كان العرض = الارتفاع تقريبا */

    margin: 70px auto;
    /* يضيف هامش 70px فوق وتحت، و`auto` كتوسّط الصورة أفقياً إذا كانت داخل عنصر block */
}


.person p {
    text-align: center;
    width: 400px;
}

.person h3 {
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.person h4 {
    font-size: 24px;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.more {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(imgs/background.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    width: 100%;
    height: 318px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.more h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 48px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
}

.more p {
    width: 620px;
    font-style: italic;
    text-align: center;
    line-height: 25px;

}

.more a {
    background-color: #ffce3e;
    padding: 15px 25px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.more a:hover {
    color: black;
}

.posts {
    height: 848px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.post1 {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.post1 h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 48px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
}

.post1 p {
    display: flex;
    justify-content: center;
    width: 513px;
    font-style: italic;
    line-height: 25px;
}

.poster {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 90%;
}

.post2 img {
    width: 366.66px;
    height: 383px;
    display: inline-block;
    object-fit: cover;
    margin-bottom: 20px;
}

.post2 {
    width: 366.66px;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

}

.post2 p {
    text-align: center;
    width: 300px;
    line-height: 1.5;
    font-style: italic;
    margin-top: 10px;
}

.post2 h3 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
}

.yellow {
    display: flex;

    height: 150px;
    background-color: #ffce3e;
    justify-content: space-evenly;
    align-items: center;

}

.yellow img {
    display: inline-block;
    object-fit: contain;
    object-position: center;
    width: 204px;
    height: 75px;
    filter: brightness(0);
}

.final {
    height: 200px;
    width: 98.8vw;
}

.final img {
    display: inline-block;
    height: 250px;
    width: 100%;
    position: absolute;
    object-fit: cover;
    object-position: 50% 79.53%;
    margin-bottom: 20px;
    ;

}

.contact {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.contact h3 {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.contact .text {
    width: 400px;
    margin-top: 20px;
    line-height: 22px;
    font-style: italic;


}

.contact .info {
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    width: 270px;
    margin-top: 20px;
    line-height: 25px;
    padding-left: 20px;
}

.contact a {
    text-decoration: none;

}

.contact div {
    height: fit-content;
    padding-bottom: 0;
    margin-bottom: 0;
}

.foot {
    height: 110px;
    background-color: rgb(59, 59, 59);
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot a {
    text-align: center;
    color: #e2c0ec;
}

.foot p {
    color: white;
    margin: 55px;
    font-family: "Open Sans", sans-serif;
    font-size: 12.8px;
}

/* لشاشات الهاتف */

 
@media (max-width: 390px)  {
    body {
        height: 100vh;
        width: 100%;
        max-width: 440px;

    }

    .hero {
        height: 80%;
        min-width: 400px;
        max-width: 440px;
        background-size: cover;
        gap: 30px;
        align-items: center;
                
    }

    .hero h3 {
        width: 70%;
        position: relative;
        top: 0;
        
    }

    .hero h1 {
        font-size: 2rem;
        position: relative;
        bottom: 1.2rem;
        ;
    }

    .hero a {
        position: relative;
        bottom: 0rem;
        
    }

    .box {
        position: relative;
        bottom: -1.5rem;
        width: 75%;
        justify-content: center;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: -50px;
        justify-content: center;
    }

    .us,
    .imgs {
        width: 100%;
    }

    .us ul {
        padding: 0;
        margin: 10px auto;
    }

    .us li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }


    .imgs {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 0;
    }

    .imgs img {
        display: inline-block;
        object-fit: cover;
        object-position: center;
        width: 50%;
        height: 300px;

    }

    .us h2 {
        text-align: center;

        margin: 0 auto;
    }

    h3,
    p {
        text-align: center;
        width: 200px;
        margin: 10px auto;
    }

    .us p {
        line-height: 1.4;
    }

    .fotos {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .fotos img {
        display: inline-block;
        object-fit: cover;
        width: 100%;
        height: auto;
    }

    .persons {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        margin-bottom: 10px;
    }
    .person p {
        width: 90%;
    }

    .more {
        width: 100%;
        height: 300px;
    }

    .more h2 {
        font-size: 2rem;
    }

    .more p {
        width: 80%;
    }

    .posts {
        height: auto;
    }

    .post1 {
        height: auto;
        margin-top: 20px;
    }

    .post1 p {
        width: 80%;
    }

    .poster {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px auto;
        /* تحديد اتجاه العناصر على الهواتف */
    }

    .post2 {
        width: 100%;
        /* تحديد عرض العناصر على الهواتف */
        height: 100%;
        /* تحديد ارتفاع العناصر على الهواتف */
    }

    .post2 img {
        width: 100%;
        /* تحديد عرض الصور على الهواتف */
        height: 100%;
        /* تحديد ارتفاع الصور على الهواتف */
    }

    .post2 p {
        width: 80%;
        /* تحديد عرض النصوص على الهواتف */
    }


    .yellow {
        flex-direction: column;
        height: 100%;
        margin: 0;
    }
    .contact {
        flex-direction: column;
        height: 100%;
        margin: 0;
    }

}
 @media (min-width: 400px)and (max-width: 1024px) {
    body {
        height: 100vh;
        width: 100%;
        

    }

    .hero {
        height: 80%;
        width: 100%;
        
        background-size: cover;
        
    }

    .hero h3 {
        width: 70%;
        position: relative;
        top: 0;
    }

    .hero h1 {
        font-size: 3rem;
        position: relative;
        bottom: 1.2rem;
    }

    .hero a {
        position: relative;
        bottom: 0rem;
    }

    .box {
        position: relative;
        bottom: 0.5rem;
        width: 75%;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: -50px;
    }

    .us,
    .imgs {
        width: 100%;
    }

    .us ul {
        padding: 0;
        margin: 10px auto;
    }

    .us li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }


    .imgs {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 0;
    }

    .imgs img {
        display: inline-block;
        object-fit: cover;
        object-position: center;
        width: 50%;
        height: 300px;

    }

    .us h2 {
        text-align: center;

        margin: 0 auto;
    }

    h3,
    p {
        text-align: center;
        width: 200px;
        margin: 10px auto;
    }

    .us p {
        line-height: 1.4;
    }

    .fotos {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .fotos img {
        display: inline-block;
        object-fit: cover;
        width: 100%;
        height: auto;
    }

    .persons {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        margin-bottom: 10px;
    }
    .person p {
        width: 90%;
    }

    .more {
        width: 100%;
        height: 300px;
    }

    .more h2 {
        font-size: 2rem;
    }

    .more p {
        width: 80%;
    }

    .posts {
        height: auto;
    }

    .post1 {
        height: auto;
        margin-top: 20px;
    }

    .post1 p {
        width: 80%;
    }

    .poster {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px auto;
        /* تحديد اتجاه العناصر على الهواتف */
    }

    .post2 {
        width: 100%;
        /* تحديد عرض العناصر على الهواتف */
        height: 100%;
        /* تحديد ارتفاع العناصر على الهواتف */
    }

    .post2 img {
        width: 100%;
        /* تحديد عرض الصور على الهواتف */
        height: 100%;
        /* تحديد ارتفاع الصور على الهواتف */
    }

    .post2 p {
        width: 80%;
        /* تحديد عرض النصوص على الهواتف */
    }


    .yellow {
        flex-direction: column;
        height: 100%;
        margin: 0;
    }
    .contact {
        flex-direction: column;
        height: 100%;
        margin: 0;
    }

}







/* لشاشات الهاتف */

